<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Assista">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Assista urdf file -->
    <xacro:include filename="$(find melfa-assista-hardware)/urdf/RV-5AS.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="Assista.ros2_control.xacro" />


    <xacro:Assista_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
