<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="camera_adapter_link">
        <inertial>
            <origin xyz="-0.026 -0.022971 -1.0408E-17" rpy="0 0 0" />
            <mass value="0.16292" />
            <inertia ixx="6.5111E-05" ixy="-2.7068E-05" ixz="-5.9292E-21" iyy="3.0709E-05" iyz="-9.3174E-21" izz="7.4701E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_adapter_link.stl" />
            </geometry>
            <material name="">
                <color rgba="0.64706 0.61961 0.58824 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_adapter_link.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="camera_adapter_joint" type="fixed">
        <origin xyz="0.033234 0.033234 -0.0041" rpy="-1.5708 0 -2.3562" />
        <parent link="coact_base_link" />
        <child link="camera_adapter_link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="camera_link">
        <inertial>
            <origin xyz="-6.8696E-07 -0.00043025 0.03599" rpy="0 0 0" />
            <mass value="0.13788" />
            <inertia ixx="8.1425E-05" ixy="-1.5749E-10" ixz="1.2373E-08" iyy="8.2407E-05" iyz="9.6107E-07" izz="4.3666E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 ${(pi)} ${(pi)}" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_link.stl" />
            </geometry>
            <material name="">
                <color rgba="0.74902 0.74902 0.74902 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 ${(pi)} ${(pi)}" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_link.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="camera_joint" type="fixed">
        <origin xyz="-0.067443 -0.054897 0" rpy="${-(1.3937) + pi} 1.5708 0" />
        <parent link="camera_adapter_link" />
        <child link="camera_link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="camera_tcp" />
    <joint name="camera_tcp_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -${(90 * pi /180)}" />
        <parent link="camera_link" />
        <child link="camera_tcp" />
    </joint>
    <gazebo reference="camera_link_optical">
        <material>Gazebo/Black</material>
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>800</width>
                    <height>600</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>2.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>