<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="camera_adapter_link">
        <inertial>
            <origin xyz="6.8987E-05 6.8987E-05 0.0086472" rpy="0 0 0" />
            <mass value="0.11061" />
            <inertia ixx="0.00011703" ixy="-7.4547E-10" ixz="3.2264E-07" iyy="0.00012118"
                iyz="-6.0814E-08" izz="2.26E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_adapter_link.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_adapter_link.STL" />
            </geometry>
        </collision>
    </link>

    <link name="camera_link">
        <inertial>
            <origin xyz="6.8987E-05 8.2543E-06 0.0086472" rpy="0 0 0" />
            <mass value="0.11061" />
            <inertia ixx="0.00011703" ixy="-7.4547E-10" ixz="3.2264E-07" iyy="0.00012118"
                iyz="-6.0814E-08" izz="2.26E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.50196 0.50196 0.50196 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find melfa_assista_hardware)/meshes/camera_link.STL" />
            </geometry>
        </collision>
    </link>

    <joint name="joint_camera_adapter" type="fixed">
        <origin xyz="-0.00275 -0.0425 -0.04425" rpy="-1.5708 0 0" />
        <parent link="coact_base_link" />
        <child link="camera_adapter_link" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="joint_camera" type="fixed">
        <origin xyz="0 0.027 -0.0185" rpy="${pi} 0 ${pi}" />
        <parent link="camera_adapter_link" />
        <child link="camera_link" />
        <axis xyz="0 0 0" />
    </joint>

    <link name="camera_link_optical">
    </link>

    <joint name="joint_camera_optical_frame" type="fixed">
        <origin xyz="0 0 0.06" rpy="-${pi/2} -${pi/2} 0"/>
        <parent link="camera_link" />
        <child link="camera_link_optical" />
    </joint>

    <gazebo reference="camera_link_optical">
        <material>Gazebo/Black</material>

        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>800</width>
                    <height>600</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>2.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>